{% extends "layout.html" %}

{% block content %}

     

<body>

            
      <div class= "container">

            <!-- Applications Nav Bar -->       

            <nav class="app-nav">

                  <ul class = "app-menu">
                        <ul>
                              <li> <a href="kpiconvert">Growth KPI Converter</a></li>
                        </ul>
                        <ul>
                              <li> <a href="carwashkpiconvert">Carwash KPI Converter</a></li>
                        </ul>
                        <ul>      
                              <li> <a href="tpfileconvert">Team Performance Converter</a></li>
                        </ul>
                        <ul>
                              <li> <a href="securityfileconvert">Security Log Converter</a></li>
                        </ul>
                        <ul>      
                              <li> <a href="securityfilenegconvert">Security Log Negative Sales Converter</a></li>
                        </ul>
                  </ul>
            </nav>

      </div>  
            
</body>

{% endblock content %}
