{% extends "layout.html" %}

{% block content %}

     

      <body>

            
            <div class="span6">

            <nav class="nav nav-tabs nav-fill">
            <a class="flex-sm-fill text-sm-center nav-link" href="kpiconvert">Growth KPI Convert</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="carwashkpiconvert">Carwash KPI Convert</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="tpfileconvert">Team Performance Convert</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="securityfileconvert">Security Log Convert</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="securityfilenegconvert">Sec Log Neg Sales Convert</a>
            </nav>
            </div>  
            
      </body>

{% endblock content %}
