{% extends "layout.html" %}

{% block content %}

 <div class="container">

  <section class="blog">

          {% for post in posts.items %}

              <div class="card">
                  <div class="cardbody">
                        <div class="cardheader">

                          <ul class="media-body-topleft">
                            <img srcset="{{ url_for('static', filename='profile_pics/thumb/' + post.author.image_file)}} 480w,
                            {{ url_for('static', filename='profile_pics/mobile/' + post.author.image_file)}} 800w"
                            sizes="(max-width: 720px) 480px,800px" >
                            
                            <li> <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a></li>
                          </ul>    

                          <ul class="media-body topright">
                            <li> <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></li>
                          </ul>
                        </div>


                        <div class="media-body">
                        <!-- <div class="article-metadata"></div> -->
      
                           <h1> <a class="article-title" href="{{url_for('post', post_id=post.id) }}" > {{ post.title }}</a></h1>
                            <p class="article-content">{{ post.content }}</p>
                      </div>
                  </div>    
              </div>  



          {% endfor %}

            <div class="div-button">

              {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

                {% if page_num %}

                  {% if posts.page == page_num %}

                    <a href = "{{url_for('blog', page=page_num) }}" class = "button">{{page_num}}</a>
                    {% else %}
                    <a href = "{{url_for('blog', page=page_num) }}" class = "button">{{page_num}}</a>

                  {% endif%}
                  
                  {% else %}
                    ...
                {% endif %}

              {% endfor %}
            </div>

      </div>  
</section>
</div>

{% endblock content %}
