{% extends "layout.html" %}

{% block content %}

<body>  

    <div class="row">
        <div class="col">
          <div class= "dashboard-header">
          <a >Chart Dashboard </a>
          <br/>
          </div>
        </div>
    </div>
            <div class="row">  
                  <div class="col-md-6 py-1">
                    <div class="card w-100"> 
                      <div class="card-body">
                           
                            <canvas id="mycanvas" width="75" height="75"></canvas>
                            <script type="text/javascript" src="static/js/fuelvolume.js"></script>
                      </div>
                    </div>
                  </div>
                      <div class="col-md-6 py-1">
                        <div class="card w-100">
                          <div class="card-body">
                                 
                                 <canvas id="storemargin" width="75" height="75"></canvas>
                                 <script type="text/javascript" src="static/js/cstoresales.js"></script>
                          </div>
                        </div> 
                     </div>   
             </div>
            <div class="row">  
                  <div class="col-md-6 py-1">
                    <div class="card w-100"> 
                      <div class="card-body">
                            <h9 class="card-title">C-Store Sales</h9>
                            <canvas id="mycanvas" width="75" height="75"></canvas>
                            <script type="text/javascript" src="static/js/last.js"></script>
                      </div>
                    </div>
                  </div>
                      <div class="col-md-6 py-1">
                        <div class="card w-100">
                          <div class="card-body">
                                 <h9 class="card-title">Carwash Sales</h9>
                                 <canvas id="storemargin" width="75" height="75"></canvas>
                                 <script type="text/javascript" src="static/js/cstoresales.js"></script>
                          </div>
                        </div> 
                     </div>   
             </div>
</body>

{% endblock content %}