{% extends "layout.html" %}


{% block content%}

<div class="form-container">

    <div class="form-hrinfo">
  
        <div> {{form.firstname(class = "form", placeholder="First Name")}} </div>  
        <div> {{form.nickname(class = "form", placeholder="Nick Name")}}</div>
        <div> {{form.lastname(class = "form" ,placeholder="Last Name")}} </div>
        <div> {{form.store(class = "form" ,placeholder="Home Store")}} </div>
        <div> {{form.mobilephone(class = "form" ,placeholder="Phone Number")}} </div>
        <div> {{form.startdate(class = "form" ,placeholder="Start Date")}} </div>
        <div> {{form.enddate(class = "form" ,placeholder="End Date")}} </div>
        <div> {{form.addressone(class = "form" ,placeholder="Address Line 1")}} </div>
        <div> {{form.addresstwo(class = "form" ,placeholder="Address Line 2")}} </div>
        <div> {{form.apt(class = "form" ,placeholder="Unit/Apt")}} </div>
        <div> {{form.city(class = "form" ,placeholder="City")}} </div>
        <div> {{form.province(class = "form" ,placeholder="Province")}} </div>
        <div> {{form.country(class = "form" ,placeholder="Country")}} </div>
        <div> {{form.sin(class = "form", placeholder="SIN")}} </div>
        <div> {{form.email(class = "form", placeholder="E-Mail")}} </div>
       
            <div class "button">
                <button>Submit</button>
            </div>
    </div>
    </div> 
</div>
      
{% endblock content %}

