<!DOCTYPE html>

<html lang="en">

  <head>

   {{ moment.include_jquery() }}
   {{ moment.include_moment() }}


    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Bootstrap CSS -->
  
   <!-- - <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous" />
   <link rel = "stylesheet" href="/static/main.css">
   
   <!-- <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"> -->
  
  </head>

  <body>

    <div class="menu-btn">
        <i class="fas fa-bars fa-1x"></i>
    </div>   

    <div class="app-btn">
      <i class="fas fa-bars fa-1x"></i>
    </div>

      
      


    <div class = "container" >

      <!--  Nave bar -->
        
   
              <nav class="main-nav" >
                
                  <!-- <img src="/static/images/PaulFuther.jpg" > -->
                  <a href="{{ url_for('home')}}"><img src="static/images/PaulFuther.jpg" class= "logo"> </a>
                  <ul class = "main-menu">
                      <li> <a href="{{ url_for('home')}}">Home</a></li>
                      <li> <a href="{{ url_for('blog')}}">Blog</a></li>
                      <li> <a href="{{ url_for('Applications')}}">Apps</a></li>
                      <li> <a href="{{ url_for('dashboard')}}">Charts</a></li>
                      <li> <a href="{{ url_for('hrhome')}}">HR</a></li>
                      
                  </ul>

                  <!-- Navbar Right Side -->

                  <ul class = "right-menu"  >
                    
                      
                      {% if current_user.is_authenticated %}
                      <li> <a href="{{ url_for('new_post')}}">Post</a></li>
                      <li> <a href="{{ url_for('account')}}">Account</a></li>
                      <li> <a href="{{ url_for('logout')}}">Logout</a></li>
                      {% else %}
                      <li> <a href="{{ url_for('login')}}">Login</a></li>
                      <li> <a href="{{ url_for('register')}}">Register</a></li>
                      {% endif %} 
                      <li> <a href="https://www.instagram.com/paul.futher/"><i class = "fab fa-instagram"></i></a></li>
                      <li> <a href="https://www.facebook.com/paul.futher.7"><i class = "fab fa-facebook"></i></a></li>  
                      <li> <a href="https://github.com/Paulfuther"><i class = "fab fa-github"></i></a></li>
                  </ul>
              </nav>
    </div>  

            <main role="main" class="container">
                <div class="row">
                  
                <div>   <!-- class= "messagescontainer">  -->
                    {% with messages = get_flashed_messages()%}
                      {%if messages%}
                        {% for message in messages %}
                          <div class = "alerts">
                           {{ message }} 
                          </div>
                          {% endfor %}
                        
                        
                      {% endif %}
                    {% endwith %}

                </div>
                    {% block content %}{% endblock %}
                 
                  
                </div>

                
              </main> 



              <!-- Optional JavaScript -->
              <!-- jQuery first, then Popper.js, then Bootstrap JS -->
              <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
             <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
              <script src="https://unpkg.com/@popperjs/core@2"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              
              
              <script type="text/javascript" src ="static/js/jquery.min.js"><script>
              
              <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js"><script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
              
              <script>
              
              const btn = document.querySelector('.menu-btn');

              function menus(){
                document.querySelector('.main-menu').classList.toggle('show');
                document.querySelector('.right-menu').classList.toggle('show');
              }
              
              btn.addEventListener('click',menus);
              
              
              
              </script>  

              <script>  
              
              const app = document.querySelector('.app-btn');

              function menus(){
                document.querySelector('.app-menu').classList.toggle('show');
               
              }
              
              app.addEventListener('click',menus);
              
              
              
              </script>  

              



  </body>  



</html>


