{% extends "layout.html" %}

{% block content %}

     

      <body>

      <div class="container-fluid" >     

      <p> <font face="helvetica" font size="4" colour="black">
      
       There are four applications available 
      </font></p>

       
       
   
                                              
      <div class="dropdown">
      <button class="btn btn-sm  btn-primary dropdown-toggle btn-dark bg-steel border border-white"  type="button" data-toggle="dropdown">
      Applications
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
      <li><a href="kpiconvert" class="text-info" font size="9">Growth KPI Converter</a></li>
      <li><a href="carwashkpiconvert">Carwash KPI Converter</a></li>
      <li><a href="#">Security Log Parser</a></li>
      <li><a href="#">Team Performance Parser</a></li>
      </ul>
      </div>
      </div>
     

     

     

      
      </body>

{% endblock content %}
