{% extends "layout.html" %}

{% block content%}


<body>
      

<main role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories=true)%}
          {%if messages%}
            {% for category, message in messages %}
              <div class="alert alert-{{ category}}">
                {{ messagge }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
      </div>
      
    </div>
  </main>
 </body>




    {% for post in posts%}

      <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
      </article>
      <p></p>
    {% endfor%}

{% endblock content %}
